{{#.}}
<li>
	<a href="#" class="item-link item-content assessListContent" data-id="{{id}}" data-name="{{name}}" data-point="{{point}}">
		<div class="item-media media-avater">
			<img src="img/icon/icon-plan.png" />
		</div>
		<div class="item-inner">
			<div class="item-title-row">
				<div class="item-title k-group-t">{{name}}</div>
				{{#compare point '>' 0}}
				<div class="item-after k-group-after" style="color: green !important;">总分: {{point}}分</div>
				{{else}}
				<div class="item-after k-group-after">总分: {{point}}分</div>
				{{/compare}}
			</div>
			<div class="item-subtitle k-group-sub">
				<span class="">考核清单: {{paperCount}}项</span>
				<span class="s-r">考核次数: {{count}}次</span>
			</div>
		</div>
	</a>
</li>
{{/.}}