{{#.}}
<a href="#" class="item-link item-content" data-id="{{did}}">
    <div class="item-inner">
		<div class="item-title" style="line-height: 35px;">
			<span>{{deptName}}</span>
			<span class="userBtn" style="position: relative;float: right;margin-top: 4px;margin-right: 3px;">
			<img src="img/newIcon/icon_branch_personnel.png" style="width: 22px;padding-top: 2px;padding-left:3px;" data-deptId="{{did}}" data-deptName="{{deptName}}" />
			</span>
			<span class="infoBtn" style="position: relative;float: right;margin-top: 4px;margin-right: 8px;">
				<img src="img/newIcon/icon_branch_information.png" style="width: 22px;padding-top: 2px;" data-deptType="{{deptType}}" data-deptId="{{did}}" data-deptName="{{deptName}}" />
				
			</span>
		</div>
	</div>
</div>
</a>
{{/.}}