{{#.}}
<li>
	<a href="#" class="item-link item-content" data-id="{{deptId}}" data-name="{{deptName}}" data-branchRank="{{branchRank}}" data-score="{{score}}">
		<div class="item-media">
			<i class="icon kpi-group"></i>
		</div>
		<div class="item-inner">
			<div class="item-title-row">
				<div class="item-title kpi-a-list-item-title" style="font-weight: bold;">{{deptName}}</div>
				<div class="item-after kpi-a-list-item-after">
					<div class="reviewState">
						<div class="reviewed"style="padding: 10px;font-size: 14px;">统计图</div>
					</div>
				</div>
			</div>
			<div class="deptRank-item">
				<div>
					<span>得分：{{score}}</span>
				</div>
				<div>
					<span>排名：{{branchRank}}</span>
				</div>
			</div>
		</div>
	</a>
</li>
{{/.}}