{{#.}}
<li class="item-content" data-userId = "{{userId}}" data-userName = "{{userName}}" data-id = "{{id}}">
	<div class="item-media"><i class="icon icon-assessment"></i></div>
	<div class="item-inner">
		<div class="item-title">{{logTitle}}</div>
		<div class="item-after"style="font-size: 15px;color: black;margin-top: 20px;white-space: normal !important;    max-height: 200px;">--{{userName}}</div>
		<div class="item-after" style="font-size: 13px;color:gray">{{logTime}}</div>
	</div>
	<div class="item-media">
		<div><img style="width: 80px;height: 64px;margin-right: 5px;" src="{{logPic}}"/></div>
	</div>
</li>
{{/.}}