{{#.}}
<li class="item-content" data-id = "{{workId}}" data-loadTypeId = "{{loadTypeId}}" data-workType = "{{logType}}">
	<div class="item-media">
		<div><img style="width: 80px; height: 80px; border-radius: 50%;border: 3px solid #a7745c;" src="{{logPic}}" /></div>
	</div>
	<div class="item-inner">
		<div class="item-title">{{logTitle}}</div>
		<div>
			<div class="item-after" style="right: 15px;font-size: 15px;color: black;margin-top: 20px;position: absolute;">--{{userName}}</div>
			<div class="item-after" style="float: right;font-size: 15px;color: black;margin-top: 40px;color:gray">{{logTime}}</div>
		</div>
	</div>
</li>
{{/.}}