{{#.}}
	<div data-id="{{id}}" class="card qs-party-card" style="border-radius: 5px;">
        <div class="card-header item-content">
        <div style="white-space: normal;">{{title}}</div>
        </div>
        <div class="card-content"> 
          <div class="card-content-inner"style="padding-bottom: 0px;">
          	{{#compare titlePic '!=' ''}}
          		{{#compare picType '==' 0}}
          			<img class="lazy lazy-fadeIn" src="{{basePath}}{{titlePic}}"/>
          		{{else}}
  					<video width="100%"  controls>
          				<source src="{{basePath}}{{titlePic}}" type="video/{{videoType}}">
					<video>
				{{/compare}}
          	{{else}}
          		
          	{{/compare}}
          	{{subTitle}}
          </div>
        </div>
        <div class="card-footer no-border" data-id="{{id}}"><span>{{creatTs}}</span>
        		<a href=# class="link partyLike"><i class="icon {{#compare isGood '==' false}}icon-noCollect{{else}}icon-collect{{/compare}}"></i><span class="likeTotal">{{goodTotal}}</span></a>
        		<a href=# class="link partyComment"style="margin-right: 20px;"><i class="icon icon-comment"></i><span class="commentTotal">{{commentTotal}}</span></a>
        </div>
  	</div>
{{/.}}