{{#.}}
	<li>
		<div data-id={{id}} data-title={{catalogName}} class="link item-content party-content">
		    <div class="item-media"><img src="{{basePath}}/{{catalogIcon}}"/></div>
		    <div class="item-inner">
			    <div class="item-title-row">
				    <div class="item-title">{{catalogName}}</div>
				    <div class="item-after">{{creatTs}}</div>
			    </div>
			    <div class="item-subtitle">{{title}}</div>
		    	</div>
	   	</div>
    </li>
{{/.}}