{{#.}}
	<li>
		<a data-id={{id}} data-memo="{{memo}}" data-reportState="{{reportState}}" data-khType="{{khType}}" data-userName="{{userName}}" class="item-link item-content rankDetail-content">
			<div class="item-inner">
				<div class="userInfo-row item-subtitle" style="font-size: 14px;padding-top: 5px;padding-bottom: 5px;">
					<div class="color-gray ranktitle" style="">
						{{#compare isUserName '==' 1}}
						<span class="discussName">填报人：{{userName}}</span>
						{{else}}
						<span class="discussName">考核项：{{paperTitle}}</span>
						{{/compare}}
					</div>
					<div class="color-gray" style="font-size: 13px;">
						{{#compare reportTime '!=' ''}}
						<span class="discussName">{{reportTime}}</span>
						{{else}}
						<span class="discussName">{{reportTs}}</span>
						{{/compare}}
						
					</div>
				</div>
				<div style="margin-top: 10px;font-size: 15px;">
					<span class="rankDetailTitle" style="color: #369;">考核清单：{{topicTitle}}</span>
					<span class="rankDetailScore color-red">+{{score}}</span>
				</div>
				<div style="margin-top: 10px;font-size: 15px;">
					<span class="rankDetailName" style="color: #369;">标题：{{reportTitle}}</span>
					{{#compare reportState '==' -1}}
					<span style="float: right;color: red;border: solid 2px;">已退回</span>
					{{/compare}}
				</div>
			</div>
		</a>
	</li>
{{/.}}