{{#.}}
  <li data-type="{{index}}" data-isWriter="{{isWriter}}" data-id="{{id}}" data-name="{{meetingName}}">

				
			
      {{#compare isWriter '==' 1}}
      <span>{{index}}</span>
				<p class="listTitle" >{{meetingName}}</p>
				{{!-- <div class="notWrite">已填写</div> --}}
        <p>填写时间 : {{time}}</p>
				<p>填写人 : {{modifer}}</p>
      {{else}}
        
			
        {{!-- <div class="write">未填写</div> --}}
      {{#compare step '==' index}}
      <span>{{index}}</span>
	    <p class="listTitle" >{{meetingName}}</p>
      <div class="write">开始填写</div>
      {{else}}
      <span style="background: #ccc;">{{index}}</span>
       <p class="listTitle" style="color: #8e8e93;">{{meetingName}}</p>
      {{/compare}}  
      {{/compare}}
			</li>
{{/.}}