<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">姓名</div>
			<div class="item-after item-label" style="text-overflow: ellipsis;overflow: hidden;display: block;">{{userName}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">人员编号</div>
			<div class="item-after item-label">{{userNo}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">手机号码</div>
			<div class="item-after item-label">{{mobilePhone}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">所属党委</div>
			<div class="item-after item-label">{{deptName}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">党组织类型</div>
			<div class="item-after item-label" style="text-overflow: ellipsis;overflow: hidden;display: block;">{{partyTypeVal}}</div>
		</div>
	</a>
</li>