{{#.}}
	<li>
		<div data-id={{articleId}} class="link item-content userFavorite-content">
			<div class="item-inner">
				<div class="item-title-row">
					<div class="item-title" style="font-size: 15px;">{{title}}</div>
				</div>
				<div class="discuss-row item-subtitle"style="color: #8e8e93;padding: 8px 5px 0px 0px;">
					<span style="font-size: 13px;">收藏时间：{{ts}}</span>
					<div>
						<span style="padding-left: 10px;font-size: 14px;">评论:</span>
						<span class="color-orange">{{commentTime}}</span>
					</div>
				</div>
				<div class="item-text"style="height: auto;">
					<span style="font-size: 14px;">{{subTitle}}</span>
				</div>
			</div>
		</div>
	</li>
{{/.}}