{{#.}}
<li>
	<div data-id={{chatRoomId}} data-title={{chatRoomTitle}} class="link item-content discuss-content">
		<div class="item-inner">
			<div class="userInfo-row item-subtitle" style="font-size: 14px;">
				<div class="color-gray" style="font-size: 13px;">
					<span class="discussName">{{typeKey}}：</span>
					<span class="discussName"style="color: brown;">{{action}}</span>
					<span class="discussName color-orange">+1</span>
				</div>
				<div class="color-gray" style="font-size: 13px;">
					<span class="discussName ">{{ts}}</span>
				</div>
			</div>
		</div>
	</div>
</li>
{{/.}}