<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">姓名</div>
			<div class="item-after item-label"style="text-overflow: ellipsis;overflow: hidden;display: block;">{{userName}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">人员编号</div>
			<div class="item-after item-label">{{userNo}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">手机号码</div>
			<div class="item-after item-label">{{mobilePhone}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">所属组织</div>
			<div class="item-after item-label">{{deptName}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">性别</div>
			<div class="item-after item-label">{{sexVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">职称</div>
			<div class="item-label" style="text-align: right;width: 65%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #8e8e93;">{{officerName}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">入党时间</div>
			<div class="item-after item-label">{{partyTime}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">身份证</div>
			<div class="item-after item-label">{{cardNo}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">政治面貌</div>
			<div class="item-after item-label">{{politicsVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">民族</div>
			<div class="item-after item-label">{{minorityVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">学历</div>
			<div class="item-after item-label">{{educationVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">婚姻状况</div>
			<div class="item-after item-label">{{maritalVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">出生日期</div>
			<div class="item-after item-label">{{birthday}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">参加工作时间 </div>
			<div class="item-after item-label">{{workTime}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">人员分类</div>
			<div class="item-after item-label">{{ryflVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">人员编制</div>
			<div class="item-after item-label">{{rybzVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">职业分类</div>
			<div class="item-after item-label">{{zyflVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">在职状态</div>
			<div class="item-after item-label">{{zzztVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">行政职务</div>
			<div class="item-after item-label">{{xzzwVal}}</div>
		</div>
	</a>
</li>
<li>
	<a href="#" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">职务级别</div>
			<div class="item-after item-label">{{zwjbVal}}</div>
		</div>
	</a>
</li>