<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">职称：</div>
		<div class="item-input">
			<input type="text" placeholder="填写职称" id="officerName" name="officerName" value="{{officerName}}" />
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">身份证：</div>
		<div class="item-input">
			<input type="text" placeholder="填写身份证" id="cardNo" name="cardNo" value="{{cardNo}}" />
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">入党时间：</div>
		<div class="item-input">
			<input type="text" placeholder="填写入党时间" id="partyTime" name="partyTime" value="{{partyTime}}" readonly/>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">出生日期：</div>
		<div class="item-input">
			<input type="text" placeholder="填写出生日期" id="birthday" name="birthday" value="{{birthday}}" readonly />
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">参加工作时间：</div>
		<div class="item-input">
			<input type="text" placeholder="填写工作时间" id="workTime" name="workTime" value="{{workTime}}" readonly />
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">性别：</div>
		<div class="item-input">
			<select id="sex" name="sex">
				{{#each sexArr}}
					{{#compare key 'equalNumber' ../sex}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">政治面貌：</div>
		<div class="item-input">
			<select id="politics" name="politics">
				{{#each politicsArr}}
					{{#compare  key 'equalNumber' ../politics}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">民族：</div>
		<div class="item-input">
			<select id="minority" name="minority">
				{{#each minorityArr}}
					{{#compare key 'equalNumber' ../minority}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">学历：</div>
		<div class="item-input">
			<select id="education" name="education">
				{{#each educationArr}}
					{{#compare key 'equalNumber' ../education}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">婚姻状况：</div>
		<div class="item-input">
			<select id="marital" name="marital">
				{{#each maritalArr}}
					{{#compare key 'equalNumber' ../marital}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">人员分类：</div>
		<div class="item-input">
			<select id="ryfl" name="ryfl">
				{{#each ryflArr}}
					{{#compare key 'equalNumber' ../ryfl}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">人员编制：</div>
		<div class="item-input">
			<select id="rybz" name="rybz">
				{{#each rybzArr}}
					{{#compare key 'equalNumber' ../rybz}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">职业分类：</div>
		<div class="item-input">
			<select id="zyfl" name="zyfl">
				{{#each zyflArr}}
					{{#compare key 'equalNumber' ../zyfl}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">在职状态：</div>
		<div class="item-input">
			<select id="zzzt" name="zzzt">
				{{#each zzztArr}}
					{{#compare key 'equalNumber' ../zzzt}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">行政职务：</div>
		<div class="item-input">
			<select id="xzzw" name="xzzw">
				{{#each xzzwArr}}
					{{#compare key 'equalNumber' ../xzzw}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li class="item-content">
	<div class="item-inner">
		<div class="item-title  label">职务级别：</div>
		<div class="item-input">
			<select id="zwjb" name="zwjb">
				{{#each zwjbArr}}
					{{#compare key 'equalNumber' ../zwjb}}
					<option value="{{key}}" selected>{{val}}</option>
					{{else}}
					<option value="{{key}}">{{val}}</option>
					{{/compare}}
				{{/each}}
			</select>
		</div>
	</div>
</li>