{{#.}}
<li>
	<a data-id="{{topicId}}" data-name="{{paperName}}" class="item-link item-content">
		<div class="item-inner">
			<div class="userInfo-row item-subtitle" style="font-size: 14px;padding-top: 5px;">
				<div class="color-gray" style="font-size: 13px;">
					<span class="discussName">考核项：{{paperName}}</span>
				</div>
			</div>
			<div style="margin-top: 10px;font-size: 15px;">
				<span class="rankDetailTitle" style="color: #369;">考核清单：{{topicTitle}}</span>
			</div>
			<div style="margin-top: 10px;font-size: 15px;">
				<span class="rankDetailName" style="color: #369;">考核分数：{{point}}分</span>
			</div>
			<div style="margin-top: 10px;font-size: 15px;">
				<span class="rankDetailName" style="color: #369;">考核次数：{{count}}次</span>
			</div>
		</div>
	</a>
</li>
{{/.}}