{{#.}}
<div class="homeListApp" data-id="{{id}}" data-title="{{catalogName}}" data-cUrl="{{catalogUrl}}" data-cChild="{{hasChilds}}" >

<img src="{{catalogIcon}}" />
<div class="homeApp-title">
	{{catalogName}}
</div>
</div>
{{/.}}
