{{#.}}
  <li data-type="{{index}}" data-isWriter="{{isWriter}}" data-name="党支部会议提议">
				<span>{{index}}</span>
				<p class="listTitle">{{meetingName}}</p>
			
      {{#compare isWriter '==' 1}}
				<div class="notWrite">已填写</div>
        <p>填写时间 : {{time}}</p>
				<p>填写人 : {{modifer}}</p>
      {{else}}
        <div class="write">未填写</div>
      {{/compare}}
			</li>
{{/.}}