{{#.}}


<li class="align-top item-content firstSecretaryPic" data-userId = "{{userId}}" data-userName = "{{name}}" data-id = "{{id}}" style="padding-left: 0px;">
	      <div class="item-content" style="width: 100%;">
	        <div class="item-media"><img src="img/icon/icon-user.png" style="border-radius: 50%;width: 38px;"/></div>
	        <div class="item-inner"style="margin-left: 0px;width: 90%;">
				<div class="item-title label secName" >{{name}}</div>
	          	<div class="" style="margin-left: 5px;width: 100%; color:#000;line-height: 26px;
    font-size: 14px;">{{logTitle}}</div>
			 <div class=" weui_cells_form">
					<div class="weui_cell " style="padding:10px 5px 0px;">
					<div class="weui_cell_bd weui_cell_primary">
						<div class=" " id="picList_{{id}}_{{isSearch}}">
						
						</div>
					</div>
					</div>
				</div>
				 
				<span style="color: gray; font-size: 13px;padding-left: 5px;">{{createTime}}</span>
		{{!-- <div style="text-align: right; display:inline-block; float: right;">
			<a href="#" class="recordLike " style="margin-right: 20px; color: #888;">
	      		<i class="icon icon-noCollect" style="width: 20px;"></i>
	      		<span class="likeStatus" style="font-size: 13px;">赞</span>
	      	</a> --}}
	      	{{!-- <a href="#" class="recordComment" style="margin-right: 20px; color: #888;">
	    			<i class="icon icon-comment"></i>
	    			<span class="comment">评论</span>
	    		</a> --}}
		{{!-- </div> --}}
		{{!-- <div class="likeList">
		</div> --}}
	        </div>
	      </div>
		  
	</li>


{{/.}}