{{#.}}
<li class="item-content" data-userId = "{{userId}}" data-userName = "{{name}}" data-id = "{{id}}" style="padding-top:5px;">
	{{!-- <div class="item-media"><i class="icon icon-assessment"></i></div> --}}
	<div class="item-inner" style="padding: 10px 0px 10px 15px;">
		<div class="item-title" style="color:#000;">{{logTitle}}</div>
		<div class="item-after"style="font-size: 15px;color: #333;margin-top: 20px;white-space: normal !important; max-height: 200px;">--{{name}}</div>
		<div class="item-after" style="font-size: 13px;color:gray">{{createTime}}</div>
	</div>
	<div class="item-media">
		<div><img style="width: 95px;height: 75px;margin-right: 25px;" src="{{logPic}}"/></div>
	</div>
</li>
{{/.}}