{{#.}}
	<div data-id="{{id}}" class="card qs-card">
        {{!-- <div class="card-header">
	            <div class="qs-title">{{serviceTitle}}</div>
	            {{#services_state auditStatus}}{{/services_state}}
        </div> --}}
        <div class="card-content"> 
          <div class="card-content-inner">
          	<div class="item-text">项目名称 : {{meetingName}}</div>
          	<div class="item-text">进行阶段 : {{part}}</div>
          	<div class="item-text">时间 : {{time}}</div>
          	<div class="item-text">备注</div>
          </div>
        </div>
      
      </div>
{{/.}}