{{#.}}


	<div class=" thereAndNineCard" data-id={{id}}   data-content="{{content}}" data-title="{{title}}" data-createDate="{{createdDate}}"   style="margin:6px 0px;">
	  <div class="thereAndNineContent" style="color: #37699a;font-weight:600;">标题 : {{title}}</div>
	  <div class="thereAndNineContent" style="border-bottom:none;"><span style="font-weight:600; ">内容 : </span>{{content}}</div>
	  
	    <div class="list-block media-list thereAndNineCardPic_{{id}}">
	      <ul>
	        <li class="item-content">
	        
		        <div style="width: 100%;">
		           <div class=" weui_cells_form" style="margin-top:0px;">
						<div class=" uploadCell">
						<div class="weui_cell_bd weui_cell_primary">
							<div class="weui_uploader thereAndNicePic_{{id}}">
							</div>
						</div>
						</div>
          </div>
				   
		        </div>
	        </li>
	      </ul>
	    </div>
	 
	 
	</div> 
{{/.}}

