{{#.}}
	<li>
		<a data-id={{id}}  class=" item-content rankDetail-content">
			<div class="item-inner" style="padding-right:0px">
				<div class="userInfo-row item-subtitle" style="font-size: 14px;padding-top: 5px;">
					<div class="color-gray" style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
						<span class="discussName">留言者：{{creator}}</span><br/>
						<span class="discussName">留言时间：{{createTime}}</span>
					</div>
				</div>
				<div class="rankDetailcontent" >
					<span class="rankDetailTitle" style="color: #369;">内容：{{content}}；</span>
				</div>
				{{!-- <div class="rankDetailcontent" >
					<span class="rankDetailName" style="color: #008000;">标题：{{reportTitle}}</span>
				</div> --}}
			</div>
		</a>
	</li>

	
{{/.}}
<!--<div class="infinite-scroll-preloader">
    <div class="preloader" style="left:35%;margin-left:0px;margin-top:0px;position:absolute;"></div>
    <div style="position: absolute;left: 45%;;font-size: 17px;">加载中...</div>
</div>-->